<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/Hospital.css" rel="stylesheet" />
    <script src="~/PartialView.js"></script>
</head>
<body>
    <div class="form-group ">
        <label for="relatedHospital">Related Hospital:</label>
        <select class="form-control inputMaxWidth" id="ddlPartialHospital" name="ddlPartialHospital"></select>
    </div>
</body>

</html>