
@{
    ViewBag.Title = "MainLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="layoutCss.css">
    <link rel="stylesheet" href="myStyle.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid innerDiv">
            <ul class="nav navbar-nav">
                <li class="liStyle"><a href="#">Profile</a></li>
                <li class="liStyle"><a href="#">Hospital</a></li>
                <li class="liStyle"><a href="#">Doctor</a></li>
                <li class="liStyle"><a href="#">Report</a></li>
                <li class="liStyle" style=""><a href="#">Logout</a></li>
            </ul>
        </div>
    </nav>

</body>

</html>